.input-group {
  .form-control {
    border-radius: 64px 0 0 64px;
  }
  .input-group-append {
    button {     
      background:$primary-color;
      color: #fff;
      border: none;
      border-radius: 0 64px 64px 0;
      padding: 0 15px; 
      cursor: pointer;
      outline: none;
    }
  }
} 