@import url(https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap);
body{font-size:.9rem;color:#151515;font-family:Rubik,sans-serif}
h1,h2,h3,h4,h5,h6{color:#343a40;font-family:Rubik,sans-serif;font-weight:500}
a{text-decoration:none!important;outline:0}
p{line-height:1.8;font-size:15px}
.card{border:none;-webkit-box-shadow:0 8px 35px 0 rgba(73,80,87,.05);box-shadow:0 8px 35px 0 rgba(73,80,87,.05);border-radius:7px;margin-bottom:30px}
.section{position:relative;padding-top:50px;padding-bottom:50px}
.vertical-content{display:-moz-flex;display:-ms-flexbox;display:-webkit-box;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-justify-content:center;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.bg-overlay{background-color:rgba(35,37,47,.7);position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%}
.small-title{letter-spacing:1px;font-size:14px}
.btn{    font-size: 16px; 
    padding: 8px 25px;font-weight:500;-webkit-transition:all .4s;transition:all .4s;border-radius:25px}
.btn:hover{-webkit-transform:translateY(-4px);transform:translateY(-4px);outline:0;text-decoration:none}
.btn-sm{padding:.25rem .5rem;font-size:.875rem}
.btn-rounded{border-radius:30px}
.bg-primary{background-color:#A0CDEC!important}
.bg-soft-primary{background-color:rgba(47,85,212,.1)!important}
.text-primary{color:#3069b3!important}
.icon-dual-primary{color:#3069b3;fill:rgba(47,85,212,.2)}
.btn-primary{color:#fff;background:#3069b3;border-color:#3069b3;-webkit-box-shadow:0 8px 14px rgba(47,85,212,.2);box-shadow:0 8px 14px rgba(47,85,212,.2)}
.btn-primary .open>.dropdown-toggle.btn-primary,.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #3069b3;box-shadow:0 16px 31px -16px #3069b3;background:#294dc6;border-color:#294dc6}
.btn-outline-primary{color:#3069b3;border-color:#3069b3}
.btn-outline-primary .open>.dropdown-toggle.btn-primary,.btn-outline-primary.active,.btn-outline-primary.focus,.btn-outline-primary:active,.btn-outline-primary:focus,.btn-outline-primary:hover,.btn-outline-primary:not(:disabled):not(.disabled):active,.btn-outline-primary:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #3069b3;box-shadow:0 16px 31px -16px #3069b3;background:#294dc6;border-color:#294dc6}
.bg-success{background-color:#ffc632!important}
.bg-soft-success{background-color:rgba(52,209,191,.1)!important}
.text-success{color:#ffc632!important}
.icon-dual-success{color:#ffc632;fill:rgb(255 208 87 / 32%)}
.btn-success{color:#151515;background:#ffc632;border-color:#ffc632;-webkit-box-shadow:0 8px 14px rgba(52,209,191,.2);box-shadow:0 8px 14px rgba(52,209,191,.2)}
.btn-success .open>.dropdown-toggle.btn-primary,.btn-success.active,.btn-success.focus,.btn-success:active,.btn-success:focus,.btn-success:hover,.btn-success:not(:disabled):not(.disabled):active,.btn-success:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #ffc632;box-shadow:0 16px 31px -16px #ffc632;background: #f1b007;color:#151515;    border-color: #f1b007;}
.btn-outline-success{color:#151515;border-color:#ffc632}
.btn-outline-success .open>.dropdown-toggle.btn-primary,.btn-outline-success.active,.btn-outline-success.focus,.btn-outline-success:active,.btn-outline-success:focus,.btn-outline-success:hover,.btn-outline-success:not(:disabled):not(.disabled):active,.btn-outline-success:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #ffc632;box-shadow:0 16px 31px -16px #ffc632;background:#fff;border-color:#ffc632; color:#151515;}
.bg-info{background-color:#57b8ff!important}
.bg-soft-info{background-color:rgba(87,184,255,.1)!important}
.text-info{color:#57b8ff!important}
.icon-dual-info{color:#57b8ff;fill:rgba(87,184,255,.2)}
.btn-info{color:#fff;background:#57b8ff;border-color:#57b8ff;-webkit-box-shadow:0 8px 14px rgba(87,184,255,.2);box-shadow:0 8px 14px rgba(87,184,255,.2)}
.btn-info .open>.dropdown-toggle.btn-primary,.btn-info.active,.btn-info.focus,.btn-info:active,.btn-info:focus,.btn-info:hover,.btn-info:not(:disabled):not(.disabled):active,.btn-info:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #57b8ff;box-shadow:0 16px 31px -16px #57b8ff;background:#43afff;border-color:#43afff}
.btn-outline-info{color:#57b8ff;border-color:#57b8ff}
.btn-outline-info .open>.dropdown-toggle.btn-primary,.btn-outline-info.active,.btn-outline-info.focus,.btn-outline-info:active,.btn-outline-info:focus,.btn-outline-info:hover,.btn-outline-info:not(:disabled):not(.disabled):active,.btn-outline-info:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #57b8ff;box-shadow:0 16px 31px -16px #57b8ff;background:#43afff;border-color:#43afff}
.bg-warning{background-color:#fbb13c!important}
.bg-soft-warning{background-color:rgba(251,177,60,.1)!important}
.text-warning{color:#fbb13c!important}
.icon-dual-warning{color:#fbb13c;fill:rgba(251,177,60,.2)}
.btn-warning{color:#fff;background:#fbb13c;border-color:#fbb13c;-webkit-box-shadow:0 8px 14px rgba(251,177,60,.2);box-shadow:0 8px 14px rgba(251,177,60,.2)}
.btn-warning .open>.dropdown-toggle.btn-primary,.btn-warning.active,.btn-warning.focus,.btn-warning:active,.btn-warning:focus,.btn-warning:hover,.btn-warning:not(:disabled):not(.disabled):active,.btn-warning:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #fbb13c;box-shadow:0 16px 31px -16px #fbb13c;background:#fba928;border-color:#fba928}
.btn-outline-warning{color:#fbb13c;border-color:#fbb13c}
.btn-outline-warning .open>.dropdown-toggle.btn-primary,.btn-outline-warning.active,.btn-outline-warning.focus,.btn-outline-warning:active,.btn-outline-warning:focus,.btn-outline-warning:hover,.btn-outline-warning:not(:disabled):not(.disabled):active,.btn-outline-warning:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #fbb13c;box-shadow:0 16px 31px -16px #fbb13c;background:#fba928;border-color:#fba928}
.bg-danger{background-color:#fe6847!important}
.bg-soft-danger{background-color:rgba(254,104,71,.1)!important}
.text-danger{color:#fe6847!important}
.icon-dual-danger{color:#fe6847;fill:rgba(254,104,71,.2)}
.btn-danger{color:#fff;background:#fe6847;border-color:#fe6847;-webkit-box-shadow:0 8px 14px rgba(254,104,71,.2);box-shadow:0 8px 14px rgba(254,104,71,.2)}
.btn-danger .open>.dropdown-toggle.btn-primary,.btn-danger.active,.btn-danger.focus,.btn-danger:active,.btn-danger:focus,.btn-danger:hover,.btn-danger:not(:disabled):not(.disabled):active,.btn-danger:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #fe6847;box-shadow:0 16px 31px -16px #fe6847;background:#fe5733;border-color:#fe5733}
.btn-outline-danger{color:#fe6847;border-color:#fe6847}
.btn-outline-danger .open>.dropdown-toggle.btn-primary,.btn-outline-danger.active,.btn-outline-danger.focus,.btn-outline-danger:active,.btn-outline-danger:focus,.btn-outline-danger:hover,.btn-outline-danger:not(:disabled):not(.disabled):active,.btn-outline-danger:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #fe6847;box-shadow:0 16px 31px -16px #fe6847;background:#fe5733;border-color:#fe5733}
.bg-dark{background-color:#343a40!important}
.bg-soft-dark{background-color:rgba(52,58,64,.1)!important}
.text-dark{color:#343a40!important}
.icon-dual-dark{color:#343a40;fill:rgba(52,58,64,.2)}
.btn-dark{color:#fff;background:#343a40;border-color:#343a40;-webkit-box-shadow:0 8px 14px rgba(52,58,64,.2);box-shadow:0 8px 14px rgba(52,58,64,.2)}
.btn-dark .open>.dropdown-toggle.btn-primary,.btn-dark.active,.btn-dark.focus,.btn-dark:active,.btn-dark:focus,.btn-dark:hover,.btn-dark:not(:disabled):not(.disabled):active,.btn-dark:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #343a40;box-shadow:0 16px 31px -16px #343a40;background:#2b3035;border-color:#2b3035}
.btn-outline-dark{color:#343a40;border-color:#343a40}
.btn-outline-dark .open>.dropdown-toggle.btn-primary,.btn-outline-dark.active,.btn-outline-dark.focus,.btn-outline-dark:active,.btn-outline-dark:focus,.btn-outline-dark:hover,.btn-outline-dark:not(:disabled):not(.disabled):active,.btn-outline-dark:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #343a40;box-shadow:0 16px 31px -16px #343a40;background:#2b3035;border-color:#2b3035}
.bg-muted{background-color:#a0a9b1!important}
.bg-soft-muted{background-color:rgba(160,169,177,.1)!important}
.text-muted{color:#a0a9b1!important}
.icon-dual-muted{color:#a0a9b1;fill:rgba(160,169,177,.2)}
.btn-muted{color:#fff;background:#a0a9b1;border-color:#a0a9b1;-webkit-box-shadow:0 8px 14px rgba(160,169,177,.2);box-shadow:0 8px 14px rgba(160,169,177,.2)}
.btn-muted .open>.dropdown-toggle.btn-primary,.btn-muted.active,.btn-muted.focus,.btn-muted:active,.btn-muted:focus,.btn-muted:hover,.btn-muted:not(:disabled):not(.disabled):active,.btn-muted:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #a0a9b1;box-shadow:0 16px 31px -16px #a0a9b1;background:#959fa8;border-color:#959fa8}
.btn-outline-muted{color:#a0a9b1;border-color:#a0a9b1}
.btn-outline-muted .open>.dropdown-toggle.btn-primary,.btn-outline-muted.active,.btn-outline-muted.focus,.btn-outline-muted:active,.btn-outline-muted:focus,.btn-outline-muted:hover,.btn-outline-muted:not(:disabled):not(.disabled):active,.btn-outline-muted:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #a0a9b1;box-shadow:0 16px 31px -16px #a0a9b1;background:#959fa8;border-color:#959fa8}
.bg-purple{background-color:#9261c6!important}
.bg-soft-purple{background-color:rgba(146,97,198,.1)!important}
.text-purple{color:#9261c6!important}
.icon-dual-purple{color:#9261c6;fill:rgba(146,97,198,.2)}
.btn-purple{color:#fff;background:#9261c6;border-color:#9261c6;-webkit-box-shadow:0 8px 14px rgba(146,97,198,.2);box-shadow:0 8px 14px rgba(146,97,198,.2)}
.btn-purple .open>.dropdown-toggle.btn-primary,.btn-purple.active,.btn-purple.focus,.btn-purple:active,.btn-purple:focus,.btn-purple:hover,.btn-purple:not(:disabled):not(.disabled):active,.btn-purple:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #9261c6;box-shadow:0 16px 31px -16px #9261c6;background:#8852c1;border-color:#8852c1}
.btn-outline-purple{color:#9261c6;border-color:#9261c6}
.btn-outline-purple .open>.dropdown-toggle.btn-primary,.btn-outline-purple.active,.btn-outline-purple.focus,.btn-outline-purple:active,.btn-outline-purple:focus,.btn-outline-purple:hover,.btn-outline-purple:not(:disabled):not(.disabled):active,.btn-outline-purple:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #9261c6;box-shadow:0 16px 31px -16px #9261c6;background:#8852c1;border-color:#8852c1}
.bg-pink{background-color:#ff7aa3!important}
.bg-soft-pink{background-color:rgba(255,122,163,.1)!important}
.text-pink{color:#ff7aa3!important}
.icon-dual-pink{color:#ff7aa3;fill:rgba(255,122,163,.2)}
.btn-pink{color:#fff;background:#ff7aa3;border-color:#ff7aa3;-webkit-box-shadow:0 8px 14px rgba(255,122,163,.2);box-shadow:0 8px 14px rgba(255,122,163,.2)}
.btn-pink .open>.dropdown-toggle.btn-primary,.btn-pink.active,.btn-pink.focus,.btn-pink:active,.btn-pink:focus,.btn-pink:hover,.btn-pink:not(:disabled):not(.disabled):active,.btn-pink:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #ff7aa3;box-shadow:0 16px 31px -16px #ff7aa3;background:#ff6695;border-color:#ff6695}
.btn-outline-pink{color:#ff7aa3;border-color:#ff7aa3}
.btn-outline-pink .open>.dropdown-toggle.btn-primary,.btn-outline-pink.active,.btn-outline-pink.focus,.btn-outline-pink:active,.btn-outline-pink:focus,.btn-outline-pink:hover,.btn-outline-pink:not(:disabled):not(.disabled):active,.btn-outline-pink:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #ff7aa3;box-shadow:0 16px 31px -16px #ff7aa3;background:#ff6695;border-color:#ff6695}
.bg-white{background-color:#fff!important}
.bg-soft-white{background-color:rgba(255,255,255,.1)!important}
.text-white{color:#fff!important}
.icon-dual-white{color:#fff;fill:rgba(255,255,255,.2)}
.btn-white{color:#fff;background:#fff;border-color:#fff;-webkit-box-shadow:0 8px 14px rgba(255,255,255,.2);box-shadow:0 8px 14px rgba(255,255,255,.2)}
.btn-white .open>.dropdown-toggle.btn-primary,.btn-white.active,.btn-white.focus,.btn-white:active,.btn-white:focus,.btn-white:hover,.btn-white:not(:disabled):not(.disabled):active,.btn-white:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #fff;box-shadow:0 16px 31px -16px #fff;background:#f5f5f5;border-color:#f5f5f5}
.btn-outline-white{color:#fff;border-color:#fff}
.btn-outline-white .open>.dropdown-toggle.btn-primary,.btn-outline-white.active,.btn-outline-white.focus,.btn-outline-white:active,.btn-outline-white:focus,.btn-outline-white:hover,.btn-outline-white:not(:disabled):not(.disabled):active,.btn-outline-white:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #fff;box-shadow:0 16px 31px -16px #fff;background:#f5f5f5;border-color:#f5f5f5}
.bg-light{background-color:#f8fafe!important}
.bg-soft-light{background-color:rgba(248,250,254,.1)!important}
.text-light{color:#f8fafe!important}
.icon-dual-light{color:#f8fafe;fill:rgba(248,250,254,.2)}
.btn-light{color:#fff;background:#f8fafe;border-color:#f8fafe;-webkit-box-shadow:0 8px 14px rgba(248,250,254,.2);box-shadow:0 8px 14px rgba(248,250,254,.2)}
.btn-light .open>.dropdown-toggle.btn-primary,.btn-light.active,.btn-light.focus,.btn-light:active,.btn-light:focus,.btn-light:hover,.btn-light:not(:disabled):not(.disabled):active,.btn-light:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #f8fafe;box-shadow:0 16px 31px -16px #f8fafe;background:#e6edfb;border-color:#e6edfb}
.btn-outline-light{color:#f8fafe;border-color:#f8fafe}
.btn-outline-light .open>.dropdown-toggle.btn-primary,.btn-outline-light.active,.btn-outline-light.focus,.btn-outline-light:active,.btn-outline-light:focus,.btn-outline-light:hover,.btn-outline-light:not(:disabled):not(.disabled):active,.btn-outline-light:not(:disabled):not(.disabled):active:focus{-webkit-box-shadow:0 16px 31px -16px #f8fafe;box-shadow:0 16px 31px -16px #f8fafe;background:#e6edfb;border-color:#e6edfb}
.font-14{font-size:14px}
.font-16{font-size:16px}
.font-18{font-size:18px}
.font-20{font-size:20px}
.font-22{font-size:22px}
.font-24{font-size:24px}
.icons-sm{height:16px;width:16px}
.icons-md{height:32px;width:32px}
.icons-lg{height:40px;width:40px}
.box-shadow{-webkit-box-shadow:0 8px 35px 0 rgba(73,80,87,.05);box-shadow:0 8px 35px 0 rgba(73,80,87,.05)}
.avatar-md{height:4.5rem;width:4.5rem}
.avatar-title{-webkit-box-align:center;-ms-flex-align:center;align-items:center; color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;font-weight:500;height:100%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100%}
.avatar-title img { width: 55px;
    height: 55px;}
.navbar-custom{padding:20px 0;width:100%;z-index:999;margin-bottom:0;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
.navbar-custom .navbar-nav .nav-item .nav-link{line-height:26px;color:rgba(52,58,64,.8);-webkit-transition:all .4s;transition:all .4s;background-color:transparent!important;padding:6px 10px;margin:0 7px; font-size: 16px;}
.navbar-custom .navbar-nav .nav-item .nav-link:active,.navbar-custom .navbar-nav .nav-item .nav-link:hover{color:#3069b3}
.navbar-custom .navbar-nav .nav-item.active .nav-link{color:#3069b3; font-weight:500; } 
.navbar-toggler{font-size:24px;margin-top:5px;margin-bottom:0;color:#fff}
.navbar-light .navbar-nav .nav-item .nav-link{color:rgba(255,255,255,.5)}
.navbar-light .navbar-nav .nav-item .nav-link:active,.navbar-light .navbar-nav .nav-item .nav-link:hover{color:#fff}
.navbar-light .navbar-nav .nav-item.active .nav-link{color:#fff}
.navbar-light .logo .logo-light{display:inline-block}
.navbar-light .logo .logo-dark{display:none}
.navbar-light .nav-sticky .logo .logo-dark{display:inline-block}
.navbar-light .nav-sticky .logo .logo-light{display:none}
.nav-sticky.navbar-custom{margin-top:0;padding:10px 0;background-color:#fff;-webkit-box-shadow:0 10px 33px -14px rgba(0,0,0,.1);box-shadow:0 10px 33px -14px rgba(0,0,0,.1)}
.nav-sticky.navbar-custom .logo .logo-light{display:none}
.nav-sticky.navbar-custom .logo .logo-dark{display:inline-block}
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link{color:rgba(52,58,64,.9)}
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active,.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover{color:#3069b3}
.nav-sticky.navbar-custom .navbar-nav .nav-item.active .nav-link{color:#3069b3}
.hero-section{padding-top:275px;overflow:hidden}
.home-img{position:relative}
.home-img::before{content:"";position:absolute;width:360px;height:330px;background-color:rgba(47,85,212,.1);border-radius:30% 70% 59% 41%/30% 38% 62% 70%;z-index:-1;top:90px;right:15px}
.hero-section-2{padding:160px 0 100px 0}
.registration-form .form-control{-webkit-box-shadow:none;box-shadow:none}
.registration-form .form-control:focus{border-color:#3069b3}
.hero-section-5{padding:300px 0 220px 0}
.play-icon-circle{height:50px;width:50px;background-color:#ffc632;line-height:50px;text-align:center;border-radius:50%;display:inline-block;margin-right:5px}
.play-iconbar{color:#fff;font-size:17px}
.testi-carousel .owl-nav{position:absolute;top:-67px;right:0;margin-top:0}
.testi-carousel .owl-nav button{outline:0;border-radius:50%!important}
.testi-carousel .owl-nav button span{display:inline-block;width:32px;height:32px;line-height:32px;background:rgba(47,85,212,.2);color:#3069b3;border-radius:50%;font-size:20px}
.testi-carousel .owl-nav button:hover span{background:#3069b3;color:#fff}
.testi-carousel .owl-item{padding:0 10px}
.testi-carousel .owl-dots .owl-dot:focus{outline:0}
.testi-carousel .owl-dots .owl-dot span{background:rgba(47,85,212,.2);border:2px solid transparent}
.testi-carousel .owl-dots .owl-dot.active span,.testi-carousel .owl-dots .owl-dot:hover span{background:#fff;border:2px solid #3069b3}
.testi-carousel .card p {  min-height:80px}
.client-images img{max-height:94px;width:auto!important;opacity:.6;-webkit-transition:all .5s;transition:all .5s}
.client-images img:hover{opacity:.9}
.pricing-nav-tabs{display:inline-block;background-color:#fff;-webkit-box-shadow:0 8px 35px 0 rgba(73,80,87,.05);box-shadow:0 8px 35px 0 rgba(73,80,87,.05);padding:5px;border-radius:7px}
.pricing-nav-tabs li{display:inline-block}
.pricing-nav-tabs li .nav-link{border-radius:7px;color:#a0a9b1;padding:.6rem 1.4rem}
.pricing-nav-tabs li .nav-link.active{background-color:#3069b3}
.pricing-plan{max-width:415px;margin:0 auto;margin-top:30px}
.subscribe .form-control{height:46px;border-radius:7px;font-size:15px;-webkit-box-shadow:none;box-shadow:none}
.subscribe .form-control:focus{border-color:#3069b3}
.Counter p { color:#000}
.footer{background-color:#3069b3;color:#fff;padding-top:80px;padding-bottom:12px}
.footer-list-title{    font-size: 18px;
    color: #ffc632;}
.footer-list-menu li a{display:inline-block;font-size:15px;color:#fff;margin-bottom:14px;-webkit-transition:all .4s;transition:all .4s}
.footer-list-menu li a:hover{color:rgba(255,255,255,.9)}
.features-wrap p { padding-left:35px; position: relative;}
.features-wrap p .icon-dual-success { position: absolute;left: 0; top: 3px;}
 .header-top {
    background-color: #2567b3;
    padding: 2px;
}
  .header-top .nav-header-top .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    height: 100%;
}
.ftn50 { font-size:50px;}
.client-images {
    padding: 5px;
    height: 58px;
    text-align: center;
    border: 1px solid #f2f2f2;
    background: #fff;
    display: inline-flex;
}
.footer a { color:#fff;}
@media (max-width:991px){
    .section { padding-top: 20px;
        padding-bottom: 20px;}
.navbar-custom{margin-top:0;padding:10px 0!important;background-color:#f8fafe!important;-webkit-box-shadow:0 10px 33px -14px rgba(0,0,0,.1);box-shadow:0 10px 33px -14px rgba(0,0,0,.1)}
.navbar-custom.navbar-expand-lg>.container{width:90%}
.navbar-custom .logo img{height:66px}
.navbar-custom .navbar-nav .nav-item .nav-link{-webkit-transition:all .4s;transition:all .4s;margin:0;padding:6px 0;color:rgba(52,58,64,.9)}
.navbar-custom .navbar-nav .nav-item.active .nav-link{color:#3069b3}
.navbar-custom .navbar-btn{margin-left:0}
.navbar-toggler{font-size:24px;margin-top:0;margin-bottom:0;color:rgba(52,58,64,.9)}
.hero-section{padding-top:130px}
.hero-section-2 {
    padding: 160px 0 15px 0;
}
}
@media (max-width:767.98px){
.hero-title{font-size:32px}
}
@media (max-width:575.98px){
.testi-carousel .owl-nav{display:none}
}